# Virtual environment
venv/
.venv/

# Environment variables / API keys
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.pyc

# macOS files
.DS_Store

# vs code files
.vscode/

# data files
data/documents/
data/chroma_db/
data/mock_database.db